<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<!-- Angular Pipes -->
<div class="demo">
  <h3>Angular Pipes</h3>
  <div>Start date: {{ startDate | date }}</div>
  <!-- Add permitter / modify the date further -->
  <div>Start date: {{ startDate | date: 'MMM/dd/yyyy' }}</div>
  <!-- Pipe for string -->
  <h4>String Pipes</h4>
  <div>Upper case: {{ title | uppercase }}</div>
  <div>Lower case: {{ title | lowercase }}</div>
  <div>Title case: {{ title | titlecase }}</div>
  <!-- Pipe for number -->
  <h4>Number Pipes</h4>
  <div>Number: {{ price | number: '3.3-5' }}</div> <!-- minimum of 3 . minimum of 3 - max of 5 digits -->
  <div>Currency: {{ price | currency: 'R' }}</div>
  <!-- Pipe for percentage -->
  <h4>Percentage Pipe</h4>
  <div>Percentage: {{ rate | percent }}</div>
  <!-- Pipe for slice - to slice an array -->
  <h4>Slice Pipe applied on the below array</h4>
  <!-- Pipe for debudding JSON -->
  <h4>JSON Pipe</h4>
  <!--  <div>JSON: {{ courses | json }}</div>-->
  <!-- Key Value Pipe -->
  <h4>Key Value Pipe</h4>
    <div *ngFor="let pair of coreCourse | keyvalue">
      Key Value: {{ pair.key +' '+ pair.value }}</div>
</div>

<div class="courses">

  <!-- New Angular Control Flow Syntax/primitives - @if, @for, @switch -->
  <!-- --------------------------------------------------------------- -->

  <!-- Pass input to another component - declare the @Input with the same name as 'title: string' -->
<!--  <course-card (courseSelected)="onCourseSelected($event)" [course]="coreCourse"></course-card>-->

<!--  <course-card (courseSelected)="onCourseSelected($event)" [course]="rxjsCourse"></course-card>-->

<!--  <course-card (courseSelected)="onCourseSelected($event)" [course]="ngrxCourse"></course-card>-->

  <!-- Optimize the above with less redundancy -->
  <!-- @for track by id -> because it has to uniquely identify each item in the array-->
  <!-- Directly use the $odd or $last on consumption as compared to 'let even = $even;' and 'let first = $first;' -->
  @for (course of courses | slice:0:2; track course.id; let count = $count;
    let index = $index; let first = $first; let even = $even;) {
    <course-card (courseSelected)="onCourseSelected($event)"
                 [course]="course"
                 [index]="index"
                 [class.is-first]="first"
                 [class.is-last]="$last"
                 [class.is-even]="even"
                 [class.is-odd]="$odd"
    />
  }
  <!-- @Empty to display a message when our above array is empty -->
  @empty {
    <div class="no-courses">
      No courses available
    </div>
  }

  <h1>** End of new at-for **</h1>
  <h1>- Beginning of Old *ngFor -</h1>

  <!-- Old Angular Control Flow Syntax/primitives - @ngIf, @ngFor, @ngSwitch -->
  <course-card *ngFor="let course of courses; index as i;
    first as isFirst; last as last; even as even; odd as odd;"
    (courseSelected)="onCourseSelected($event)"
               [course]="ngrxCourse"
               [cardIndex]="i + 1"
               [class.is-first]="isFirst"
               [class.is-last]="last"
               [class.is-even]="even"
               [class.is-odd]="odd"
  />

</div>


