<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="courses">

  <!-- New Angular Control Flow Syntax/primitives - @if, @for, @switch -->
  <!-- Old Angular Control Flow Syntax/primitives - @ngIf, @ngFor, @ngSwitch -->

  <!-- Pass input to another component - declare the @Input with the same name as 'title: string' -->
<!--  <course-card (courseSelected)="onCourseSelected($event)" [course]="coreCourse"></course-card>-->

<!--  <course-card (courseSelected)="onCourseSelected($event)" [course]="rxjsCourse"></course-card>-->

<!--  <course-card (courseSelected)="onCourseSelected($event)" [course]="ngrxCourse"></course-card>-->

  <!-- Optimize the above with less redundancy -->
  <!-- @for track by id -> because it has to uniquely identify each item in the array-->
  @for (course of courses; track course.id) {
    <course-card (courseSelected)="onCourseSelected($event)" [course]="course" />
  }

</div>


